/* header .navbar {
    opacity: 0.25;
    background-color: black;
} */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}
header .navbar .nav-link:hover {
    color: #000 !important;
}
header .navbar .nav-link.active{
    color: #da1926 !important;
}
.heading-wrap .heading {
    padding-top: 50px;
}
.result {
    padding-top: 30px;
}  